<ng-container>
  <form>
    <mat-card>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="input unique name"
          [(ngModel)]="card.name"
          [ngModelOptions]="{ standalone: true }"
          name="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Description"
          [(ngModel)]="card.description"
          [ngModelOptions]="{ standalone: true }"
          name="description"
        />
      </mat-form-field>
      <mat-form-field *ngIf="assignees; else elseBlock">
        <mat-label>Assignee</mat-label>
        <mat-select
          [(ngModel)]="card.assignee.firstName + card.assignee.lastName"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let assignee of assignees"
            >{{ assignee.firstName }} {{ assignee.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <ng-template #elseBlock
        ><mat-form-field>
          <input
            type="text"
            matInput
            placeholder="assignee"
            [(ngModel)]="human"
            [ngModelOptions]="{ standalone: true }"
            name="assignee"
          /> </mat-form-field
      ></ng-template> -->
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          [(ngModel)]="card.dueDate"
          [ngModelOptions]="{ standalone: true }"
          name="card.dueDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div
        [ngStyle]="{
          display: 'flex',
          'justify-content': 'space-between',
          'margin-top': '1rem'
        }"
      >
        <button mat-raised-button (click)="onSaveTask()">Save</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
      </div>
    </mat-card>
  </form>
</ng-container>
