<mat-card
  (click)="handleClick()"
  appHighlight
  [dueDate]="dueDate"
  [isDone]="isDone"
>
  <div [ngClass]="{ isDone: isDone }">
    <p>{{ item.name }}</p>
    <ng-container *ngIf="item.isClicked">
      <p>{{ item.description }}</p>
      <p>{{ item.dueDate | date: "medium" }}</p>
      <p>{{ item.assignee.firstName }} {{ item.assignee.lastName }}</p>
    </ng-container>
  </div>
  <div
    [ngStyle]="{
      display: 'flex',
      'justify-content': 'space-between',
      'margin-top': '1rem'
    }"
    *ngIf="item.isClicked"
  >
    <button mat-raised-button (click)="onEdit($event)">Edit</button>
    <button mat-raised-button (click)="onRemove()">Remove</button>
  </div>
</mat-card>
