<mat-card (click)="handleClick()">
  <div>
    <p>{{ item.name }}</p>
    <ng-container *ngIf = "item.isClicked">
      <p>{{ item.description }}</p>
      <p>{{ dueDate | date: "medium" }}</p>
      <!-- <p>{{ item.assignee }}</p> -->
    </ng-container>
  </div>
  <div
    [ngStyle]="{ display: 'flex', 'justify-content': 'space-between' }"
    *ngIf="item.isClicked"
  >
    <button mat-raised-button>Edit</button>
    <button mat-raised-button (click)="onRemove()">Remove</button>
  </div>
</mat-card>
